$btnActive: #00B087;
$fontActive: #008767;
$borderActive: #008767;
$topTableSubtitle: #16C098;
$bgInactive: #FFC5C5;
$fontInactive: #DF0404;
$borderInactive: #DF0404;
$textMain: #292D32;
$textSidebar: #9197B3;
$bodyBg: #FAFBFF;
$elemBg: #FFF;
$asideHeading: #000;
$textHeadings:#B5B7C0;
$elemActive: #5932EA;
$inputBg: #F9FBFF;